.carousel-img{ 
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    height: 100vh;
    
}

.carousel-caption{
    text-align: center;
    top:50%;
    transform: translateY(-20%);
    text-shadow: 4px 4px 2px black;
}

.carousel-caption h1{
    /* font-family: "Monserrat"; */
    font-family: 'Chakra Petch';
    font-weight: bold;
    font-size: 10vmin;
}

.carousel-caption h3{
    font-family: 'Chakra Petch';
    font-weight: bold;
    font-size: 4vmin;
}

.carousel-caption .icon{
    padding-top: 20%;
    font-size: 5vmin;
    opacity: .5;
}