.description-container {
    margin-top: 3%;
    background-image: url("../images/DescriptionItem1.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 2px black;

}

.description-item {
    height: 70%;
}

.section-title {
    text-align: center;
    font-family: 'Chakra Petch';
    padding: 2% 0 0 0;
    font-size: 3.5em;
}


.col {
    text-align: center;
    font-family: 'Chakra Petch';
    padding: 5% 5% 7% 5%;
}

.col h1 {
    font-size: 2em;
    padding-bottom: 5%;
}

.col h3 {
    font-size: 1.5em;
}

.col a {
    text-decoration: none;
    color: inherit;
}

.col a:hover {
    background-color: grey;
}
