body{
    background-image: url("../images/InformationItem2.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

.body-wrapper {
    width: 50%;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    font-family: "Chakra Petch";
}

.content-wrapper{
    padding: 20% 5% 0 5%;
    opacity: .75;
}

h1{
    font-size: 6rem;
    margin-bottom: 5%;
}

h2{
    font-size: 4rem;
}

p{
    font-size: 2rem;
    margin-bottom: 5%;
}