.newsletter-container{
    background-color: #A9A9A9;
}

.newsletter-body{
    text-align: center;
    font-family: 'Chakra Petch';
    padding: 5% 15% 0 15%;
}

form {
    padding: 0 20% 5% 20%;
    margin-top: 5%;
}